# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Next.js build and cache
web/.next/
web/out/
web/build/
web/tsconfig.tsbuildinfo
web/next-env.d.ts

# Firebase Functions build and logs
firebase/functions/lib/
firebase/functions/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.pdf
*.blg
*.bbl
*.fdb_latexmk
*.fls

# Operating System files
.DS_Store
Thumbs.db
*.pem

# Local Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
firebase/functions/.env

# Firebase local hosting build and cache
firebase/.firebase/
firebase/public/
firebase/web_out/
.firebase/
